.reset-password-container {
    margin-top: 200px;

    .reset-password-form-container {
        margin-top: 39px;

        .reset-password-form-token-error {
            margin-top: 20px;
        }

        .reset-password-form {
            margin-top: 40px;
        }

        .reset-password-form-submit {
            height: 50px;
            margin-top: 35px;
            width: 200px;
        }

        .reset-password-help {
            margin-top: 40px;
        }
    }
}
