.delete-member-modal {
    .modal-dialog {
        .modal-content {
            border-radius: 5px;
            width: 230px;

            .modal-body {
                padding: 30px 20px;

                .modal-body-caption {
                    margin-bottom: 20px;
                }

                .delete-member-modal-remove-button {
                    margin-bottom: 18px;
                    padding: 10px 34px;
                }
            }
        }
    }
}

.delete-member-modal-side-menu-open {
    padding-left: $side-menu-width;
}
