.notification-container {
    height: 60px;

    .notification {
        background-color: $white;
    }

    .fas {
        margin-left: 20px;
        margin-right: 12px;
        margin-top: 20px;
    }
}
