.loading-cat-container {
    margin-top: 100px;

    .loading-cat-svg {
        @keyframes dash {
            50% {
                stroke-dashoffset: 0;
            }

            100% {
                stroke-dashoffset: -1000;
            }
        }

        .cat-head-outline {
            animation: dash 1s ease infinite;
            stroke-dasharray: 1000;
            stroke-dashoffset: 1000;
        }
    }
}
