.steps-container {
    margin: 37px 0 0 0;

    .step-divider {
        width: 10px;
    }
}

.step-bar-container {
    .fas {
        margin-right: 10px;
    }

    .top-row {
        white-space: nowrap;
    }

    .step-bar-line {
        height: 10px;
    }

    .muted {
        background-color: $text-muted;
    }
}
