.not-found-container {
    .not-found-image-container {
        margin-top: 120px;
    }

    .logo-container {
        margin-top: 50px;
    }

    .not-found-header {
        margin-top: 35px;
    }

    .not-found-back-button {
        height: 50px;
        margin-top: 20px;
        width: 200px;
    }

    .not-found-help-text {
        color: $gray-600;
        margin-top: 20px;
        width: 580px;
    }
}
