.login-container {
    margin-top: 200px;

    .login-form-container {
        margin-top: 39px;

        .login-form {
            margin-top: 40px;
        }

        .login-form-submit {
            height: 50px;
            margin-top: 35px;
            width: 200px;
        }

        .login-form-help {
            margin-top: 40px;
        }
    }
}
