.request-reset-container {
    margin-top: 200px;

    .request-reset-form-container {
        margin-top: 39px;

        .request-reset-form {
            margin-top: 40px;
        }

        .request-reset-form-caption {
            margin-top: 20px;
        }

        .request-reset-form-submit {
            height: 50px;
            margin-top: 35px;
            width: 200px;
        }

        .request-reset-form-back {
            margin-top: 40px;
        }

        .request-reset-help {
            margin-top: 40px;
        }
    }
}
