@import 'Autocomplete/Autocomplete';
@import 'Notification/Notification';

.invalid-feedback {
    display: block;
}

.form-label {
    font-size: $font-size-lg;
}

.form-control.is-invalid {
    background-image: none;
}

.form-tip-text {
    font-size: $form-feedback-font-size;
    margin-top: $form-feedback-margin-top;
    width: 100%;
}
