.side-menu-wrapper {

    .side-menu-body-container {

        .side-menu-cards-container > * {
            margin-bottom: 20px;
        }

        .side-menu-actions-container {
            margin-top: 10px;

            .action-button {
                margin-bottom: 25px;
            }
        }
    }
}
