.activate-container {
    margin-top: 200px;

    .activate-form-container {
        margin-top: 39px;

        .activate-form-token-error {
            margin-top: 20px;
        }

        .activate-form {
            margin-top: 40px;
        }

        .activate-form-submit {
            height: 50px;
            margin-top: 35px;
            width: 200px;
        }

        .activate-help {
            margin-top: 40px;
        }
    }
}
