.register-institution-container {
    margin-top: 200px;

    .register-institution-form-container {
        margin-top: 39px;

        .register-institution-primary-admin-header {
            margin-top: 60px;
        }

        .register-institution-form {
            margin-top: 40px;
        }

        .register-institution-form-submit {
            height: 50px;
            margin-top: 35px;
            width: 200px;
        }

        .register-institution-form-notification-container {
            margin-top: 30px;
        }
    }
}
