.side-menu-wrapper {

    .side-menu-header-container {

        .side-menu-header-top {
            padding: 30px 20px 20px 30px;

            .side-menu-header-logo-btn {
                outline: none;
            }

            .side-nav-header-close-btn {
                outline: none;

                .fas {
                    color: $gray-600;
                }
            }
        }

        .side-menu-header-sub-text {
            color: $black;
            letter-spacing: 2px;
            padding-left: 30px;
        }
    }
}
