.server-error-container {
    .server-error-image-container {
        margin-top: 120px;
    }

    .logo-container {
        margin-top: 50px;
    }

    .server-error-header {
        margin-top: 35px;
    }

    .server-error-back-button {
        height: 50px;
        margin-top: 20px;
        width: 200px;
    }

    .server-error-help-text {
        color: $gray-600;
        margin-top: 20px;
        width: 580px;
    }
}
