.menu-card-button {
    border: 2px solid $gray-200;
    color: $primary;
    padding: 30px;

    &:hover {
        color: $primary;
        text-decoration: none;
    }

    &:focus {
        outline: none;
    }

    .title {
        margin-bottom: 10px;
    }
}
