.autocomplete-container {

    .autocomplete-selected {
        border: 3px solid $border-color;
    }

    .autocomplete-suggestions-container-open {
        width: 99%;
        z-index: 1;
    }

    .autocomplete-suggestion:hover {
        cursor: pointer;
    }
}
