.footer-container {
    .footer-disclaimer-row {
        margin-bottom: 50px;
        margin-top: 20px;
    }

    .footer-links-row {
        margin-top: 50px;

        .footer-link-col:not(:last-child) {
            margin-right: 50px;
        }
    }

    .footer-link {
        color: $text-muted;
    }
}
