@import 'common/RemoveMemberModal/RemoveMemberModal';

.manage-tab-container {
    background-color: $gray-100;
    height: 100%;
    padding: 50px;

    .manage-tab-header-container {
        margin-bottom: 40px;
    }

    .manage-tab-content {
        .manage-tab-table {
            tbody > tr {
                height: 77px;
            }

            .resend-btn {
                padding: 0;
            }

            .delete-btn {
                padding: 4px;

                .fas {
                    font-size: 20px;
                }

                &:focus {
                    box-shadow: none;
                    outline: none;
                }
            }
        }
    }
}
