.register-employee-container {
    margin-top: 200px;

    .register-employee-form-container {
        margin-top: 39px;

        .register-employee-form {
            margin-top: 40px;
        }

        .register-employee-form-submit {
            height: 50px;
            margin-top: 35px;
            width: 200px;
        }

        .register-employee-form-notification-container {
            margin-top: 30px;
        }
    }
}
