.need-help-modal {
    .modal-dialog {
        max-width: 780px;

        .modal-content {
            border-radius: 20px;

            .modal-header {
                border: none;

                .close {
                    padding-right: 30px;
                    padding-top: 30px;

                    span {
                        font-size: 30px;
                    }

                    &:focus {
                        outline: none;
                    }
                }
            }

            .modal-body-caption {
                margin-left: 200px;
                margin-right: 200px;
                margin-top: 40px;
            }

            .need-help-accordion {
                .need-help-accordion-card {
                    border: 1px solid rgba(0, 0, 0, 0.125);
                    margin: 20px 100px;

                    .card-header {
                        border-bottom: none;
                    }

                    .need-help-accordion-toggle {
                        padding-bottom: 20px;
                        padding-top: 20px;

                        .fas {
                            margin: 7px;
                        }
                    }

                    .need-help-accordion-collapse {
                        .upload-step {
                            margin-bottom: 12px;
                        }

                        ul {
                            padding-left: 20px;
                        }
                    }
                }
            }
        }
    }
}
