@import 'manage/ManageTab';
@import 'register/RegisterTab';

.manage-institutions-container {
    .header-container {
        padding: 0 50px;

        .side-nav-open-button {
            margin-bottom: 50px;
            top: 30px;
        }

        .register-faculty-member-header {
            padding-top: 30px;
        }

        .manage-institutions-tabs-container {
            margin-top: 25px;

            .manage-institutions-tab {
                width: 132px;

                &:focus {
                    outline: none;
                }
            }

            .active-tab {
                border-bottom: 4px solid $black;
            }
        }
    }

    .body-container {}

    .footer-container {}
}
