.step-2-container {
    .heading-title {
        margin-top: 90px;
    }

    .body-title {
        margin-top: 60px;
    }

    .body-text {
        color: $gray-600;
        margin-top: 20px;
    }

    .dnd-container {
        margin-top: 43px;
    }

    .dnd-dropzone-container {
        border: dashed 2px $gray-300;
        height: 244px;
        outline: none;
        padding: 0 63px;
        width: 244px;
    }

    .dnd-file-container {
        border: dashed 2px $gray-300;
        height: 244px;
        outline: none;
        padding: 0 63px;
        width: 244px;

        .dnd-file-icon {
            height: 48px;
            width: 48px;
        }

        .dnd-file-text {
            font-size: 10px;
            margin-top: 23px;
        }

        .dnd-file-size {
            color: $gray-500;
            font-size: 10px;
            margin-top: 15px;
        }

        .dnd-file-remove-btn {
            margin-top: 26px;
            color: $red;
        }
    }

    .dnd-file-error-container {
        border: solid 2px $gray-300;
        height: 324px;
        outline: none;
        padding: 0 50px;
        width: 324px;

        .dnd-file-error-icon {
            height: 48px;
            width: 48px;
        }

        .dnd-file-error-msg {
            margin-top: 21px;
        }

        .dnd-file-error-btn {
            margin: 0 12px;
        }
    }

    .action-buttons-container {
        margin-top: 32px;
    }

    .action-button {
        margin-right: 10px;
        min-width: 201px;
    }

    .action-button-text {
        text-overflow: ellipsis;
    }
}
