@import 'MenuCardButton/MenuCardButton';
@import 'MenuHeader/MenuHeader';
@import 'MenuIconButton/MenuIconButton';

$side-menu-width: 330px;
$side-menu-transition-time: .5s;

.side-menu-wrapper {

    .side-menu-container {
        box-shadow: 2px 0 24px 12px rgba(0,0,0,0.05);
        overflow-x: hidden;
        transition: $side-menu-transition-time;
    }

    .side-menu-inner-container {
        .side-menu-body-container {
            overflow-y: scroll;
            padding: 30px;
        }
    }

    .open-side-menu-container, .side-menu-inner-container {
        width: $side-menu-width;
    }

    .closed-side-menu-container {
        width: 0;
    }

    .content-container {
        transition: margin-left $side-menu-transition-time;
    }

    .pushed-content-container {
        margin-left: $side-menu-width;
    }
}
