.welcome-container {
    margin-top: 200px;

    .welcome-form-container {
        margin-top: 39px;

        .welcome-form-token-error {
            margin-top: 20px;
        }

        .welcome-form {
            margin-top: 40px;
        }

        .welcome-form-submit {
            height: 50px;
            margin-top: 35px;
            width: 200px;
        }

        .welcome-help {
            margin-top: 40px;
        }
    }
}
